.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  min-width: 450px;
  max-width: 600px;
}

.inline-spinner {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

